@{
    ViewBag.Title = "Quick Admission";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">Quick admission is a simple website to allow anyone seeking admission in a registered School</p>
</div>

<div class="row">
    <div class="col-md-2">
        <h2>Are you a School??</h2>
        <p>
            Register yourself here!!
        </p>
        <p><a class="btn btn-default" href="">Register Now &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Are you a Pupil seeking admission??</h2>
        <p>
            Select the School you wish to enroll, fill your admission form and that's it...<br />
            The School will get back to you or you can see the results online here.
        </p>
        <p><a class="btn btn-default" href="">Select School &raquo;</a></p>
    </div>
</div>